main
  div#div_ext_reloj.d-flex.justify-content-center.align-items-center.gap-1(style="height: 55vh; padding-top: 25vh")
    div#div_int_reloj.gap-1
      p.text-center.p-1(style="font-weight: bold")
        span.fuenteDigital(id="hs_y_mins")
        span#segundos.fuenteDigital
        br
        span#fecha.fuenteFecha
    div#botones_sesion.gap-1.d-none
      ul.list-unstyled
        li.d-flex.justify-content-center
          a(href='/reloj-pug/login-reloj')
            button(onclick="") Iniciar sesión
        li.d-flex.justify-content-center o
        li.d-flex.justify-content-center 
          button(onclick="") Registrarse
script(src="js/prueba.js")
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm', crossorigin='anonymous')
