main
  div(id="div_int_reloj" class="gap-1 d-block")
    div
      label(for="id") ID de usuario:
      input#id(type="text" required placeholder="Tu ID")
    div
      label(for="password") Contraseña:
      input#password(type="password" required placeholder="Tu contraseña")
    div.d-flex.justify-content-center
      button#btn-registro(type="button") Registrarse
