main
  div.d-flex.justify-content-center.align-items-center.gap-1(style="height: 55vh;")
    div.gap-1
      p.text-center.p-1(style="font-weight: bold")
        span.fuenteDigital(id="hs_y_mins")
        span#segundos.fuenteDigital
        br
        span#fecha.fuenteFecha
script(src="js/test.js")
script(src="js/bootstrap.bundle.min.js")