doctype html
html(lang='es')
  head
    include ../../views/head.pug
    
  body#body
    div#contenido_visible
      fullscreen
        p#top
        header
          include ../../views/navbar_sin_buscador.pug
        //div#fondo  
        include ../mi-reloj-web/main_reloj.pug         
        include ../../views/buscador_inferior.pug
        include ../../views/pie_con_fullscreen.pug
      include ../../views/scripts_final_body.pug
      script
        | #{modo}