doctype html
html(lang='es')
  head
    include ../../views/head.pug
    
  body#body
    div#contenido_visible
      fullscreen
        p#top
        header
          include ../../views/navbar_sin_buscador.pug 
        include ../mi-reloj-web/main_signup_reloj.pug         
        include ../../views/pie_con_fullscreen.pug
    include ../../views/scripts_final_body_reloj.pug