html 
head
  title Persona  
body
  form(action = "/actualizar-persona", method = "PUT")
    div
      label(for = "id") Id:
      input(name = "id")
    br
    div
      label(for = "nombre") Nombre:
      input(name = "nombre")
    br
    div 
      label(for = "edad") Edad:
      input(name = "edad")
    br  
    div
      label(for = "nacionalidad") Nacionalidad: 
      input(name = "nacionalidad")
    br
    button(type = "submit") Actualizar persona
