nav#nav.navbar.bg-body-tertiary.fixed-bottom
    #navDivExt.container-fluid
        #divIntNav.d-flex.mx-auto(role='search')
            input#inputBusc(type='search', placeholder='Buscar', aria-label='Search')
            button#botBusc(onclick='busqueda()') Buscar
            button#botAnt(onclick='anterior()') Ant.
            button#botSig(onclick='siguiente()') Sig.
            button#botCerr(onclick='cerrar()') X