// Comienzo de navbar offcanvas
nav#navSup.navbar.bg-body-tertiary.fixed-top           
    div.container-fluid
        a.navbar-brand(href='#')
        strong JS
        | desde cero
        // botón pantalla completa
        button#my_li(style='border-width: 0; background-color: #ccc;', onclick='')
        svg.bi.bi-arrows-fullscreen(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor')
            use#my_use(xlink:href='')
        // botón del buscador
        button#svg.btn.btn-info.ms-auto.mx-2(onclick='mostrarBusc()')
        svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor')
            use(xlink:href='#search')
        button.navbar-toggler(type='button', data-bs-toggle='offcanvas', data-bs-target='#offcanvasNavbar', aria-controls='offcanvasNavbar', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        div#offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1', aria-labelledby='offcanvasNavbarLabel')
        div.offcanvas-header
            p#offcanvasNavbarLabel.offcanvas-title 
            b JavaScript 
            | desde cero
            button#butClose.btn-close(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
        div.offcanvas-body
            ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
            li.nav-item
                a.nav-link.active(aria-current='page', href='#') Inicio
            li.nav-item
                a.nav-link(href='javascript/#pie') Contacto
                // botones modo nocturno
            li.nav-item
                button#botModoNoct.d-block.btn.btn-outline-secondary(onclick='modoNoct()', type='button')
                | Modo noche
                svg(width='24', height='24')
                    use(xlink:href='#modoNoche')
            li.nav-item
                button#botModoDiur.d-none.btn.btn-outline-secondary(onclick='modoDiur()', type='button')
                | Modo d&iacute;a
                svg(width='24', height='24')
                    use(xlink:href='#modoDiurno')
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Tabla de contenido
                // Ítems tdc offcanvas inicio
                ul#listaDelDropdown.dropdown-menu
                // Ítems tdc offcanvas final
                // Final de navbar offcanvas
                // Tabla de contenido - comienzo
div#fondo