doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/javascript/styles.css')
    title JavaScript desde cero
    meta(name='google-site-verification', content='IlwE29oPx3IJib2qhYUc07f7uJp7SpVM12hd1DnPiqE')
    // Fuente Poppins
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
    // CSS de Bootstrap
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9', crossorigin='anonymous')
    // CSS de highlight.js
    link#css_highlight(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css')
    // íconos de la página
    link(rel='apple-touch-icon', sizes='180x180', href='https://gonzalo-web-pages.onrender.com/javascript/apple-touch-icon-js.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/javascript/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/javascript/favicon-16x16.png')
    link(rel='manifest', href='https://gonzalo-web-pages.onrender.com/javascript/site.webmanifest')
    link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')
    // SEO comienzo
    meta(name='description', content='Aprende JavaScript desde cero con este curso gratuito. En este curso aprenderás los fundamentos de Python, como variables, tipos de datos, operaciones, flujo de control, funciones, objetos, módulos y excepciones. También aprenderás a usar librerías populares de Python, como NumPy, Pandas y Matplotlib.')
    meta(property='og:site_name', content='JavaScript desde cero')
    meta(property='og:type', content='article')
    meta(property='og:title', content='Aprende JavaScript Curso Desde Cero')
    meta(property='og:description', content='Aprende JavaScript desde cero con este curso gratuito. En este curso aprenderás los fundamentos de Python, como variables, tipos de datos, operaciones, flujo de control, funciones, objetos, módulos y excepciones. También aprenderás a usar librerías populares de Python, como NumPy, Pandas y Matplotlib.')
    meta(property='og:url', content='https://gonzalo-web-pages.onrender.com/javascript')
    meta(property='og:image', content='https://gonzalo-web-pages.onrender.com/javascript/images/javascript_fondo.png')
    //
      <meta property="article:published_time" content="2021-10-28T11:56:44.000Z">
      <meta property="article:modified_time" content="2023-08-02T09:44:31.000Z">
    meta(property='article:tag', content='JavaScript')
    meta(property='article:tag', content='Español')
    meta(property='article:tag', content='Curso')
    // SEO final
    // Buscador de Google
    
  body#body
    div#contenido_visible
      fullscreen
        p#top
        header
          include ./navbar.pug
        div#fondo  
                    
        nav#nav.navbar.bg-body-tertiary.fixed-bottom
          #navDivExt.container-fluid
            #divIntNav.d-flex.mx-auto(role='search')
              input#inputBusc(type='search', placeholder='Buscar', aria-label='Search')
              button#botBusc(onclick='busqueda()') Buscar
              button#botAnt(onclick='anterior()') Ant.
              button#botSig(onclick='siguiente()') Sig.
              button#botCerr(onclick='cerrar()') X
        #pie.container
          footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top(style='margin-right: 20px; margin-left: 20px')
            .col-md-4.d-flex.align-items-center
              //
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                </a>
              span.mb-3.mb-md-0.text-body-secondary &copy; 2023 Gonzalo Technologies, Inc
            ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
              li.ms-3
                a.text-body-secondary(href='https://t.me/GgbCos')
                  svg.bi.bi-telegram(xmlns='http://www.w3.org/2000/svg', width='18', height='18', fill='currentColor', viewBox='0 0 16 16')
                    path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z')
              li.ms-3
                a.text-body-secondary(href='mailto:benitesgonzalogaston@gmail.com')
                  svg.bi.bi-envelope-fill(xmlns='http://www.w3.org/2000/svg', width='18', height='18', fill='currentColor', viewBox='0 0 16 16')
                    path(d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z')
              li#my_li_1.ms-3(onclick='')
                svg.bi.bi-arrows-fullscreen(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor')
                  use#my_use_1(xlink:href='')
      // Incluir el archivo js de highlight.js
      script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js')
      // Inicializar el resaltado de sintaxis
      script.
        hljs.highlightAll();
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm', crossorigin='anonymous')
      script(src='/javascript/js/buscador.js')
      script(src='/javascript/js/auto_índice_navbar.js')
      script(src='/javascript/js/auto_índice_con_botones.js')
      script(src='/javascript/js/modo-nocturno.js')
      script(src='/javascript/js/pantalla_completa.js')