doctype html
html(lang='es')
  head
    include ./head.pug
    
  body#body
    div#contenido_visible
      fullscreen
        p#top
        header
          include ./navbar.pug
        div#fondo  
                    
        include ./buscador_inferior.pug
        include ./pie.pug
      include ./scripts_final_body.pug
