main
  h1 JavaScript
  h2 Descripci&oacute;n general
  h3#h31 Tu primera lecci&oacute;n
  h4 iBienvenido a JavaScript!
  p &iquest;Alguna vez has visitado un sitio web que te ha hecho pensar... &quot;Oye, este sitio web es realmente genial e interactivo&quot;? Pues bien, 
    b JavaScript
    |   probablemente estaba haciendo que ocurriera.
  figure
    img.mini(src='images/001.png' alt='')
  p En este curso, aprender&aacute;s a programar con JavaScript, uno de los lenguajes de programaci&oacute;n m&aacute;s populares que hace que los sitios web sean din&aacute;micos e interactivos.
  p Tambi&eacute;n puedes utilizar JavaScript para crear aplicaciones y juegos para m&oacute;viles, procesar datos y mucho m&aacute;s.
  h4 La consola
  p
    | JavaScript es un lenguaje de programaci&oacute;n que
    | se ejecuta en los navegadores web. La mayor&iacute;a
    | de los sitios web utilizan JavaScript y cuando las
    | cosas van mal, los desarrolladores web utilizan
    b la consola
    |  para investigar los errores.
  p
    | En esta lecci&oacute;n aprender&aacute;s sobre la principal
    | arma del desarrollador web: 
    b la consola
    | .
  p
    | Los errores de programaci&oacute;n no
    | son visibles en el navegador. Los
    | desarrolladores web utilizan 
    b
    | la
    | consola
    | para probar el c&oacute;digo y
    | corregir errores.
  h4 Mensajes log
  p
    | La consola forma parte del navegador web.
    | Escribir (o log) 
    b mensajes
    | en la consola es una
    | buena manera de diagnosticar y solucionar
    | problemas menores en tu c&oacute;digo.
  p
    | Puedes usar 
    b console.log()
    |  para escribir
    |   mensajes (o hacer 
    b log
    | ) . En el c&oacute;digo de ejemplo
    | siguiente, el mensaje &quot;All good, no errors&quot; se
    | env&iacute;a a la consola.
  div.snippet
    pre
      code console.log('All good, no errors')
  p
    | Puedes hacer 
    b log
    | en mensajes para
    | informar sobre lo que est&aacute;s haciendo
    | el c&oacute;digo o alertar de que hay un
    | problema.
  h4 Mensajes de texto
  p
    | El texto en JavaScript debe estar encerrado entre
    b comillas
    | .
  div.snippet
    pre
      code console.log('Testing in progress')
  p
    | Tu c&oacute;digo JavaScript no funcionar&aacute;
    | si no incluye un par de 
    b comillas
    | en
    | torno al mensaje de texto. Puedes
    | utilizar 
    b comillas simples o dobles
    | .
  h4 El Code Playground
  p
    | &iquest;Listo para escribir y ejecutar c&oacute;digo real? EI
    b Code Playground
    | te permitir&aacute; hacerlo en este
    | curso.
  p
    | Pulsa sobre el bloque de c&oacute;digo para abrir el
    b Code Playground
    | , luego presiona &quot;run&quot; para
    | ver el mensaje en Ia consola. La consola con
    | el mensaje se abrir&aacute; en Ia parte inferior de Ia
    | p&aacute;gina.
  div.snippet
    pre
      code console.log('My first console message')
  p
    | &iquest;Puedes cambiar el c&oacute;digo JavasScript para
    | enviar un mensaje diferente a la consola?
  p
    | El 
    b Code Playground
    |  tiene secciones
    |  para las 3 tecnolog&iacute;as web
    |  principales.
  ul
    li
      | HTML controla la estructura de una
      | p&aacute;gina web.
    li
      | CSS controla Ia presentaci&oacute;n y el
      | estilo de una p&aacute;gina web.
  p
    | En esta lecci&oacute;n s&oacute;lo utilizar&aacute;s la
    | secci&oacute;n de JavaScript.
  h4 Lecciones aprendidas
  p
    | iEres fant&aacute;stico! En esta lecci&oacute;n, has aprendido
    | que:
  ul
    li
      b JavaScript
      |  es un lenguaje de programaci&oacute;n
      |  muy popular.
    li
      | Los desarrolladores web utilizan Ia 
      b consola
      | para probar el c&oacute;digo y corregir errores.
    li
      | Puedes utilizar 
      b console.log()
      |  para escribir o
      | registrar mensajes en la consola.
  p
    | En las pr&oacute;ximas lecciones, aprender&aacute;s a utilizar
    | JavaScript para crear p&aacute;ginas web interactivas.

  h3 Producci&oacute;n
  h4 Salida
  p
    | Usemos JavaScript para imprimir &quot;Hello World&quot;
    | en el navegador.
  div.snippet
    pre
      code 
        |&lt;script&gt;
        |      document.write("Hello World!");
        |&lt;/script&gt;
  p
    | La funci&oacute;n 
    b document.write()
    |  escribe el texto en
    |         nuestro documento HTML.
  p
    | Tambi&eacute;n puedes utilizar el marcado HTML en la
    | salida:
  div.snippet
    pre
      code
  p
    | El m&eacute;todo 
    b document.write()
    |  debe
    |         utilizarse s&oacute;lo para las pruebas.
    |         Otros mecanismos de salida
    |         aparecen en las pr&oacute;ximas lecciones.
  
