// Incluir el archivo js de highlight.js
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js')
// Inicializar el resaltado de sintaxis
script.
  hljs.highlightAll();
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm', crossorigin='anonymous')
script(src='js/buscador.js')
script(src='js/auto_índice_navbar.js')
script(src='js/auto_índice_con_botones.js')
script(src='js/modo-nocturno.js')
script(src='js/pantalla_completa.js')
//script(src='js/prueba.js')

