html 
head
  title Persona    
body
  h1 Personas
  table(style="border: 1px solid black; border-collapse: collapse")
    tr(style="border: 1px solid black; border-collapse: collapse") 
      th(style="border: 1px solid black; border-collapse: collapse") Nombre
      th(style="border: 1px solid black; border-collapse: collapse") Edad
      th(style="border: 1px solid black; border-collapse: collapse") Nacionalidad
    for persona of personas
      tr(style="border: 1px solid black; border-collapse: collapse")
        td(style="border: 1px solid black; border-collapse: collapse") #{persona.nombre}
        td(style="border: 1px solid black; border-collapse: collapse") #{persona.edad}
        td(style="border: 1px solid black; border-collapse: collapse") #{persona.nacionalidad}
    