html
    head
        title=nombre
    body
        h1=nombre
        a(href=url) URL
        p
        | &iquest;Alguna vez has visitado un sitio web que te ha hecho pensar... &quot;Oye, este sitio web es realmente genial e interactivo&quot;? Pues bien, 
        b JavaScript
        |  probablemente estaba haciendo que ocurriera.
        figure
        img.mini(src='javascript/images/001.png' alt='')
        p El valor de la variable nombre es #{nombre}