doctype html
html(lang='es')
  head
    include ../../views/head.pug
    
  body#body
    div#contenido_visible
      fullscreen
        p#top
        header
          include ../../views/navbar.pug
        div#fondo  
        include ../javascript/main_js.pug         
        include ../../views/buscador_inferior.pug
        include ../../views/pie.pug
      include ../../views/scripts_final_body.pug
      script
        | #{modo}