figure {
    display: flex;
    width: 95%;
}

figure img {
    margin: auto;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
    .imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    
    .logo {
        width: 40%;
        margin: 10px;
        padding: 10px;
    }
    
    #offcanvasNavbar {
        width: 60%;
    }

}
@media screen and (min-width: 601px) {
    img {
        width: 50%;
        height: auto;
    }
    .imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
        padding: 20px;
    }
    
    .logo {
        width: 20%;
        margin: 10px;
        padding: 10px;
    }
    
}

@font-face {
    font-family: 'Roboto';
    src: url('fuentes/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Poppins';
    src: url('fuentes/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('fuentes/ARIAL.woff') format('woff');
}

section {
    margin-left: 10px;
    margin-right: 10px;
    
}



.snippet {
    margin-right: 10px;
}

#tdc {
	margin-left: 20%;
	margin-right: 20%;
    
}
#fondo {
    background-image: url(images/javascript_fondo.png);
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 90px;
}

.container {
	width: 95%;
    text-align: center;
}
.container1 {
	width: 95%;
    text-align: left;
    margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial Regular, sans-serif;
  }

p {
    font-family: Arial Regular, sans-serif;
    /* font-family: Poppins, sans-serif; */
    font-size: 14px;
}


h1 {
    font-size: 24px;
    padding-top: 60px;
}

h2 {
    font-size: 20px;
    padding-top: 60px;
}

h3 {
    padding-top: 60px;
}

body {
    text-align: center;
}

.unidades-indice {
    padding-left: 15px;
}

.titulos-unidad {
    background-color: yellow;
}
  

  
/* img {
    width: 200px;
    transition: width 0.1s;
}
img:active {
width: 95%;
} */

/* Estilo para las imágenes en miniatura */
/* .mini {
width: 50%;
height: auto;
} */

/* Estilo para las imágenes en pantalla completa */
/* .full {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: auto;
} */
